S3method(perry,lm)
S3method(perry,lmrob)
S3method(perry,lts)
S3method(predict,ladlasso)
S3method(predict,lmridge)
S3method(predict,lts)
S3method(print,ladlasso)
S3method(print,lmridge)
export(ladlasso)
export(ladlasso.fit)
export(lmridge)
export(lmridge.fit)
import(perry)
import(quantreg)
import(robustbase)
import(stats)
